Install Flask (Use link- https://flask.palletsprojects.com/en/stable/installation/ )

-- LINK CONTENT SUMMARISED

-- 1) Create a folder on your local device for this project.

-- 2) Create a virtual environment on the created folder from number 2 above:
for windows, run this below on your cmd:

        > mkdir myproject   
        > cd myproject
        > py -3 -m venv .venv

for mac, run this:

        $ mkdir myproject
        $ cd myproject
        $ python3 -m venv .venv

-- 3) Activate this virtual environment:
for windows, run this below on your cmd:

        .venv\Scripts\activate

for mac, run this:

        $ . .venv/bin/activate

-- 4) install flask in cmd: 
pip install flask (other flask dependencies would be installed automatically)
There are optional dependencies which we could consider later.


To run the flask project:

-- initialise database first:
                        flask --app flaskr init-db

-- Then run flask
                        flask --app flaskr run --debug


