{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Groups{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('groups.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for group in groups %}
    <article class="group">
      <header>
        <div>
          <h1>{{ groups['group_name'] }}</h1>
          <!-- <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div> -->
        </div>
        {% if g.user['id'] == users_groups['user_id'] and users_groups['group_creator'] == 'Y' %}
          <a class="action" href="{{ url_for('groups.update', id=groups['group_id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ groups['group_description'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
