<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>



<!-- what the homepage would contain -->
<!-- features -->
    <!-- logo -->
     <!-- welcome message
     Home
     About
     Contact
     (under the main element tag/section)
            About this App
            Features e.g fast and reliable, Easy to use, Built with Flask and Python
     under the footer,
            <p>&copy; 2025 My Flask App. All rights reserved.</p> -->

