{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}


<!-- Things to do -->
  <!-- 1.) since its general, use this structure for the homepage -->
      <!-- templates/home/index.html -->
      <!-- add a route in a new home.py file or in an existing file that handles general functionality -->
  


<!-- If your project is structured by features (e.g., auth, blog, groups), 
 try to keep files related to a feature within that feature’s folder. 
 For example:

Blog posts go in blog/.
Authentication pages go in auth/.
Group management pages go in groups/. -->


<!-- If it is based on each of them, then it should be placed inside any of the related folder. -->